repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black
        args:
          - --quiet
        files: ^((zwave_js_server|scripts|test)/.+)?[^/]+\.py$
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=master
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        files: ^(zwave_js_server|test)/.+\.py$
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        files: ^((zwave_js_server|test)/.+)?[^/]+\.py$
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^(zwave_js_server)/.+\.py$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0 --ignore-missing-annotations=y
        language: script
        types: [python]
        files: ^zwave_js_server/.+\.py$
