repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.292
    hooks:
      - id: ruff
        name: Check ruff for zwave_js_server
        files: ^(zwave_js_server)/.+\.py$
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.292
    hooks:
      - id: ruff
        name: Check ruff for scripts and test
        files: ^(scripts|test)/.+\.py$
        args: [--fix, --exit-non-zero-on-fix, --select, I001, D210, D400, D403, D415]
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black
        args:
          - --quiet
        files: ^((zwave_js_server|scripts|test)/.+)?[^/]+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=master
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        files: ^(zwave_js_server|test)/.+\.py$
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: scripts/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^(zwave_js_server)/.+\.py$
      - id: pylint
        name: pylint
        entry: scripts/run-in-env.sh pylint -j 0
        language: script
        types: [python]
        files: ^zwave_js_server/.+\.py$
